body {
    background-color: red;
}

.profile {
    height: 300px;
    width: 300px;
}

.pp {
}

.onlineUserPic {
    height: 200px;
    width: 200px;
}

.chatwindow {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.leftchat {
    grid-column: 0;
}

.chatbox {
    background-color: white !important;
    border: black 2px solid;
    margin: 10px;
    width: 95%;
    height: 95%;
}

.chatlist {
    grid-column: 2;
}

.chatUserPic {
    display: inline;
    height: 50px;
    width: 50px;
}

.otherChatUserPic {
    display: inline;
    height: 20px;
    width: 20px;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    border: black 2px solid;
}
